
.about-one{
	position:relative;
	z-index:1;
	overflow: hidden;
	padding: 120px 0px 80px;
	background-color: #010101;
}

.about-one_content-column{
	position:relative;
	margin-bottom: 30px;
}

.about-one_content{
	position:relative;
}

.about-one_subtitle{
	position:relative;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.about-one_text{
	position:relative;
	font-size: 16px;
	line-height: 28px;
	color: var(--color-three);
}

.about-one_sketch{
	position:relative;
	text-align:right;
	margin-top: -15px;
}

.about-one_list{
	position:relative;
}

.about-one_list li{
	position:relative;
	font-size: 18px;
	padding-left: 25px;
	margin-bottom: 18px;
	color: var(--color-two);
}

.about-one_list li:before{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	content: "\f12c";
	font-family: "flaticon_interior";
}

.about-one .lists-outer{
	position:relative;
	margin-top: 30px;
}

.about-one .button-box{
	position:relative;
	margin-top: 25px;
	gap: 30px;
}

.about-one .button-box .signature{
	position:relative;
}

.about-one_images-column{
	position:relative;
	text-align:right;
}

.about-one_images-column:before{
	position:absolute;
	content:'';
	right:60%;
	top:-120px;
	bottom:-120px;
	width: 500%;
	z-index:-1;
	  background-image:radial-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('../images/projects/about.webp');
	border-right: 8px solid var(--color-two);
}

.about-one_image-outer{
	position:relative;
	padding-bottom: 250px;
	display: inline-block;
}

.about-one_image{
	position:relative;
	overflow: hidden;
	display: inline-block;
}

.about-one_image:before{
	position:absolute;
	content:'';
	right: -15px;
	top: -15px;
	width: 120px;
	height: 120px;
	border-top: 5px solid var(--main-color);
	border-right: 5px solid var(--main-color);
}

.about-one_image-two{
	position:absolute;
	left:-120px;
	bottom:0px;
	overflow: hidden;
	display: inline-block;
}

.about-one_image-two:before{
	position:absolute;
	content:'';
	right: -15px;
	bottom: -15px;
	width: 120px;
	height: 120px;
	border-bottom: 5px solid var(--color-two);
	border-right: 5px solid var(--color-two);
}

.about-one_letter{
	position:absolute;
	right:0px;
	bottom: -20px;
	line-height:1em;
	font-size: 300px;
	font-weight: 800;
	background-size: cover;
    background-position: center;
	
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
	font-family: "Barlow Condensed", sans-serif;
}

/*** 

====================================================================
	About Two
====================================================================

***/

.about-two{
	position:relative;
	padding: 0px 0px 90px;
}

/*** 

====================================================================
	About Three
====================================================================

***/

.about-three{
	position:relative;
	padding: 130px 0px 90px;
}

.about-three_images-column{
	position:relative;
	margin-bottom: 30px;
}

.about-three_image-outer{
	position:relative;
	margin-left: -60px;
	display: inline-block;
}

.about-three_image-outer:before{
	position:absolute;
	content:'';
	left: -30px;
    top: -40px;
	width: 329px;
	height:643px;
	background:url(../images/background/pattern-6.png) no-repeat;
	background-repeat: no-repeat;
}

.about-three .color-circle{
	position:absolute;
	right:110px;
	bottom:25px;
	width: 260px;
	height: 260px;
	opacity: 0.10;
	border-radius: 150px;
	background-color: var(--color-two);
}

.about-three .color-border{
	position:absolute;
	right:90px;
	bottom:180px;
	width: 145px;
	height: 145px;
	opacity: 0.20;
	border-radius: 150px;
	border:1px solid var(--color-two);
}

.about-three_image{
	width: 550px;             /* حجم الدائرة */
    height: 550px;
    overflow: hidden;  
	position:relative;
	overflow: hidden;
	border-radius: 50%;
	display:inline-block;
	border:15px solid var(--main-color);
}

.about-three_info{
	position:relative;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 35px;
	padding-right: 90px;
	color: var(--color-two);
	font-family: "Barlow Condensed", sans-serif;
}

.about-three_text{
	position:relative;
	font-size: 16px;
	line-height: 30px;
}

.about-three_image-three{
	position:relative;
	margin-left: 0px;
	margin-top: 15px;
	display: inline-block;
}

.about-three_image-three:before{
	position:absolute;
	content:'';
	left:-10px;
	top:-10px;
	right:10px;
	bottom:10px;
	background-color: var(--main-color);
}

.about-three_options{
	position:relative;
	margin-top: 30px;
	gap: 35px;
}

/* ------------------------------
  Vision & Mission Dark Mode
------------------------------ */
.vision, .mission {
  background-color:black;
  color: #eee;
  padding-top: 80px;
  padding-bottom: 80px;
}

.vision .header-section h2,
.mission .header-section h2 {
  color:var(--main-color);
  font-size: 36px;
  margin-bottom: 10px;
}

.vision .header-section h3,
.mission .header-section h3 {
  color: #fff;
  font-size: 22px;
  margin-bottom: 20px;
}

.vision p, .mission p,
.vision ul li, .mission ul li {
  color: #ccc;
  font-size: 16px;
}

.vision ul li i,
.mission ul li i {
  color:var(--main-color); /* لون أيقونات الـ check */
font-size: 20px;
margin-top: 4px;
}

/* Image Effects */
.about-image {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  transition: transform 0.4s ease;
}



.about-image img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.about-image:hover img {
  transform: scale(1.05);
}

.about-image:hover::after {
  background: rgba(0,0,0,0.1);
}

/* ========================
   Managers Section - Dark Elegant
======================== */
.managers-section {
  padding: 90px 0;
  background:#010101;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 40px;
  font-weight: 800;
  color:var(--main-color);
}

/* Manager Card */
.team-one{
	position: relative;
	padding: 110px 0px 80px;
}

.team-block_one{
	position:relative;
	margin-bottom:30px;
}

.team-block_one-inner{
	position:relative;
	padding:20px 20px 45px;
	border-radius:50px 50px 50px;
	background-color:#f5f5f5;
}

.team-block_one-image{
	position:relative;
	text-align:center;
	overflow:hidden;
}

.team-block_one-image img{
	position:relative;
	width:100%;
	display:block;
	overflow:hidden;
	border-radius:150px 50px 20px 200px;
}

.team-block_one-content{
	position:relative;
	text-align:center;
}

.team-block_one-heading{
	position:relative;
	padding-top:25px;
	margin-bottom:0px;
	text-transform: uppercase;
}

.team-block_one-heading a{
	position:relative;
	color:var(--color-two);
}

.team-block_one-heading a:hover{
	color:var(--main-color);
}

.team-block_one-designation{
	position:relative;
	font-size:16px;
	font-weight:700;
	margin-top:10px;
	color:var(--main-color);
	text-transform: uppercase;
}

.team-block_one-socials{
	position:absolute;
	right:0px;
	opacity:0;
	bottom:0px;
	width:200px;
	transform: translate(100px,100px);
	-webkit-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

.team-block_one-inner:hover .team-block_one-socials{
	bottom:0px;
	opacity:1;
	transform: translate(0px,0px);
}

.team-block_one-socials a{
	position:relative;
	width:40px;
	height:40px;
	display:block;
	margin:0 auto 8px;
	font-weight:700;
	line-height: 40px;
	border-radius:50px;
	color:var(--white-color);
	font-family: 'Font Awesome 6 Free';
	background-color: rgba(var(--main-color-rgb), 1);
}
.team-block_one-socials span{
	position:relative;
	margin:5px 0px;
}

.team-block_one-socials a:hover{
	color:var(--white-color);
	background-color: rgba(var(--main-color-rgb), 1);
}

