/* Signe Interior Business HTML-5 Template */

/*** 

====================================================================
	Clients One
====================================================================

***/

.clients-one{
	position:relative;
	padding: 80px 0px 80px;
	background-color: #faf8f8;
}

.client-image{
	position: relative;
	text-align: center;
}

.client-image img{
	position: relative;
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
}

.client-image img:hover{
	opacity: 0.70;
	filter: grayscale(100%);
}

.clients-one.style-two{
	padding-top: 20px;
	background: none;
}

.clients-one.style-three{
	padding: 0px;
	background: none;
}

.clients-one.style-three{
	padding-bottom: 110px;
}

.clients-one.style-three .inner-container{
	padding: 50px 50px;
	background-color: var(--white-color);
	border:1px solid rgba(var(--color-two-rgb), 0.15);
}