/* Signe Interior Business HTML-5 Template */

/*** 

====================================================================
	Commited One
====================================================================

***/

.commited-one{
	position:relative;
	overflow: hidden;
	padding:110px 0px 80px;
	background-position: left bottom;
	background-repeat: no-repeat;
}

.commited-one .column{
	position:relative;
	margin-bottom: 30px;
}
	
.commited-one .content{
    position: relative;
    margin-left: 110px;
    max-width: 380px;
}

.commited-one .side-image{
    position: absolute;
    left: -400px;
    top: 20px;
	overflow: hidden;
}

.commited-one_list{
	position:relative;
	margin-top: 25px;
	margin-bottom: 35px;
}

.commited-one_list li{
	position:relative;
	font-size: 16px;
	margin-bottom: 15px;
	padding-left: 25px;
}

.commited-one_list li i{
	position:absolute;
	left:0px;
	top:3px;
	color: var(--main-color);
}

.commited-one .image{
	position:relative;
}

.commited-one .image img{
	position:relative;
	max-width: inherit;
}

.commited-one .content-box {
	position: absolute;
	left: -100px;
	bottom: 50px;
	max-width: 560px;
	width: 100%;
	padding: 35px 45px;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-color: var(--main-color);
}

.commited-one .content-box .side-icon{
	position: absolute;
	right:50px;
	top: 50px;
	line-height:1em;
	font-size: 65px;
	color: var(--white-color);
	font-family: "flaticon_interior";
}

.commited-one .content-box .title {
	color: var(--white-color);
	font-weight: 600;
}

.commited-one .content-box .play {
	position: relative;
	display: flex;
	gap: 15px;
	margin-top: 20px;
	font-weight: 700;
	align-items: center;
	color: var(--white-color);
	text-transform: uppercase;
}

.commited-one .content-box .play .icon {
	position: relative;
	width: 40px;
	height: 40px;
	font-size: 13px;
	border-radius: 50px;
	text-align: center;
	line-height: 38px;
	display: inline-block;
	color: var(--white-color);
	border: 1px solid var(--white-color);
}