.main-footer {
  position: relative;
  color: #fff;
  padding: 60px 20px;
  overflow: hidden;
}

.main-footer .inner-container {
  position: relative;
  z-index: 2;
}

.footer-logo img {
  max-width: 160px;
}

.footer-text {
  font-size: 15px;
  line-height: 1.8;
  max-width: 400px;
  margin-top: 10px;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

/* Contact Items */
.footer-contact .contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.footer-contact .contact-icon {
  font-size: 22px;
  margin-right: 12px;
  color:var(--main-color);
}

.contact-title {
  font-size: 22px; /* أكبر من النص */
  font-weight: 600;
  margin: 0;
  color: white;
}

.contact-info {
  font-size: 15px; /* أصغر */
  margin: 2px 0 0 0;
  color: #f0f0f0;
}

.footer-social a {
  margin-right: 15px;
  color: #fff;
  transition: transform 0.3s, color 0.3s;
}

.footer-social a:hover {
  color:var(--main-color);
  transform: scale(1.2);
}
.widgets-section {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px; 
}

.footer-widget {
  flex: 1 1 auto; 
  min-width: 250px; 
}

/* Responsive */
@media (max-width: 768px) {
  .widgets-section {
    flex-direction: column;
    gap: 30px;
  }
  .footer-text {
    max-width: 100%;
  }
  .footer-social a {
    margin-right: 10px;
  }
}
