.main-footer {
  position: relative;
  background-image: 
    linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), /* الشادو من فوق */
    url('../images/background/pattern-2.png'); /* صورة الـ pattern */
  background-size: cover;       /* يغطي كامل الفوتر */
  background-repeat: no-repeat; /* لا يتكرر */
  background-position: center; /* ناحية اليسار */
  color: #fff;
  overflow: hidden;
}


.main-footer .inner-container {
  position: relative;
  z-index: 2;
}

.footer-logo img {
  max-width: 160px;
}

.footer-text {
  font-size: 15px;
  line-height: 1.8;
  max-width: 400px;
  margin-top: 10px;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

/* Contact Items */
.footer-contact .contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.footer-contact .contact-icon {
  font-size: 22px;
  margin-right: 12px;
  color:var(--main-color);
}

.contact-title {
  font-size: 22px; /* أكبر من النص */
  font-weight: 600;
  margin: 0;
  color: white;
}

.contact-info {
  font-size: 15px; /* أصغر */
  margin: 1px 0 0 0;
  color: #f0f0f0;
}

/* التأكد أن الروابط يمكن تحريكها */
.footer-social a {
  display: inline-block;         /* ضروري للـ transform */
  transition: all 0.3s ease;     /* حركة سلسة عند hover */
  color:white;                    /* اللون الافتراضي */
}

/* Hover effect */
.footer-social a:hover {
  color: #b3802c;       /* لون عند المرور */
  transform: scale(1.2);          /* تكبير الأيقونة */
}

.widgets-section {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px; 
}

.footer-widget {
  flex: 1 1 auto; 
  min-width: 250px; 
}

/* Responsive */
@media (max-width: 768px) {
  .widgets-section {
    flex-direction: column;
    gap: 30px;
  }
  .footer-text {
    max-width: 100%;
  }
  .footer-social a {
    margin-right: 10px;
  }
}
