
/* Contact Form */

.contact-form{
	position:relative;
}

.contact-form .form-group{
	margin-bottom:25px;
}

.contact-form .form-group:last-child{
	margin-bottom:0px;
}

.contact-form .form-group input[type="text"],
.contact-form .form-group input[type="password"],
.contact-form .form-group input[type="tel"],
.contact-form .form-group input[type="email"],
.contact-form .form-group select{
	position:relative;
	display:block;
	width:100%;
	height:70px;
	line-height:28px;
	padding:10px 30px;
	font-weight:400;
	font-size: 18px;
	background:none;
	color:#666666;
	border-radius: 50px;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;
	background-color: #f5f5f5;
}


.contact-form .form-group .theme-btn{
	margin-top:10px;
}

.contact-form .form-group textarea{
	position:relative;
	display:block;
	width:100%;
	height:180px;
	resize:none;
	color:#666666;
	font-size: 18px;
	line-height:26px;
	padding:20px 25px;
	border-radius: 20px 30px;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;
	background-color: #f5f5f5;
}

.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus{
	
}

.contact-form input.error,
.contact-form select.error,
.contact-form textarea.error{
	border-color:#ff0000 !important;	
}

.contact-form label.error{
	display:block;
	line-height:24px;
	padding:5px 0px 0px;
	margin:0px;
	text-transform:uppercase;
	font-size:12px;
	color:#ff0000;
	font-weight:500;	
}

.comment-form{
	position: relative;
	margin-top: 40px;
}

.comment-form .group-title{
	position: relative;
	margin-bottom: 20px;
}

.comment-form .default-form{
	position: relative;
	padding: 45px 45px;
	border-radius: 5px;
	background-color: #f8f6f6;
}

/*** 

====================================================================
	Default Form
====================================================================

***/

.default-form .form-group{
	position: relative;
	margin-bottom: 20px;
}

.default-form .form-group:last-child{
	margin-bottom:0px;
}

.default-form .form-group input[type="text"],
.default-form .form-group input[type="password"],
.default-form .form-group input[type="tel"],
.default-form .form-group input[type="email"],
.default-form .form-group select{
	position:relative;
	display:block;
	width:100%;
	line-height:28px;
	padding:10px 25px;
	height:60px;
	border-radius:5px;
	font-weight: 500;
	font-size: 16px;
	color:var(--black-color);
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;
	background-color:var(--white-color);
}

.default-form .form-group textarea::-webkit-input-placeholder,
.default-form .form-group input::-webkit-input-placeholder{
	color:var(--black-color);
}

.default-form .form-group input[type="text"]:focus,
.default-form .form-group input[type="password"]:focus,
.default-form .form-group input[type="tel"]:focus,
.default-form .form-group input[type="email"]:focus,
.default-form .form-group select:focus,
.default-form .form-group textarea:focus{
	border-color:var(--black-color);
}

.default-form .form-group textarea{
	position:relative;
	display:block;
	width:100%;
	line-height:24px;
	padding:15px 25px 25px;
	font-size: 16px;
	color:var(--black-color);
	height:190px;
	resize:none;
	border-radius:5px;
	font-weight: 500;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;
	background-color:var(--white-color);
}

.default-form.contact-form .form-group input,
.default-form.contact-form .form-group textarea{
	border-radius: 0px;
	border: 1px solid rgba(var(--black-color-rgb), 0.06);
}

.default-form .form-group button{
	margin-top: 10px;
}

.default-form label{
	position: relative;
	display: block;
	font-weight: 500;
	color: #090909;
	font-size: 18px;
	margin-bottom: 15px;
}

.default-form .text{
	position: relative;
	color: #3A3A3A;
	line-height: 28px;
	font-size: 18px;
}

.default-form .text a{
	position: relative;
	color: #090909;
	font-weight: 600;
}