/* Signe Interior Business HTML-5 Template */

/*** 

====================================================================
	Slider One
====================================================================

***/

.slider-one{
	position:relative;
	background-color: var(--color-two);
}

.slider-one_pattern{
	position:absolute;
	left: 0px;
	bottom: 0px;
	z-index:2;
	width: 511px;
	height: 482px;
	background-repeat: no-repeat;
}

.slider-one .swiper-slide{
	position:relative;
	padding:350px 0px 220px;
}

.slider-one_content{
	position:relative;
	z-index: 2;
	padding-top:0px;
}

.slider-one_content-inner{
	position:relative;
	max-width: 692px;
}

.slider-one_image-layer{
	position:absolute;
	right:0px;
	top:0px;
	bottom:0px;
	width: 50%;
	background-size: cover;
}

.slider-one_title{
	position: relative;
	font-size: 15px;
	font-weight: 600;
	padding:10px 30px;
	letter-spacing: 1px;
	border-radius:50px;
	display:inline-block;
	color: var(--white-color);
	text-transform: uppercase;
	background-color: var(--main-color);
}

.slider-one .swiper-slide-active .slider-one_title{
	-webkit-transition-delay: 500ms;
	-moz-transition-delay: 500ms;
	-ms-transition-delay: 500ms;
	-o-transition-delay: 500ms;
	transition-delay: 500ms;
}

.slider-one_heading{
	margin-top: 40px;
	color: var(--white-color);
	text-transform: uppercase;
	
	transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.slider-one_heading span{
	color: transparent;
	font-weight:800;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(var(--main-color-rgb), 1);
}

.slider-one .swiper-slide-active .slider-one_heading{
	-webkit-transition-delay: 800ms;
	-moz-transition-delay: 800ms;
	-ms-transition-delay: 800ms;
	-o-transition-delay: 800ms;
	transition-delay: 800ms;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.slider-one_text{
	font-weight:400;
	font-size:16px;
	line-height:30px;
	max-width: 500px;
	margin-top:30px;
	margin-bottom:35px;
	color: var(--white-color);
	text-transform: capitalize;
	
	transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.slider-one .swiper-slide-active .slider-one_text{
	-webkit-transition-delay: 1200ms;
	-moz-transition-delay: 1200ms;
	-ms-transition-delay: 1200ms;
	-o-transition-delay: 1200ms;
	transition-delay: 1200ms;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.slider-one .slider-one_button{
	position: relative;
	gap: 15px;
	display:inline-block;
	transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.slider-one .swiper-slide-active .slider-one_button{
	-webkit-transition-delay: 1400ms;
	-moz-transition-delay: 1400ms;
	-ms-transition-delay: 1400ms;
	-o-transition-delay: 1400ms;
	transition-delay: 1400ms;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.slider-one_big-title{
	position:absolute;
	left:0px;
	right:0px;
	top:500px;
	z-index: 2;
	opacity:0.20;
	font-size:180px;
    color: transparent;
    font-weight: 800;
	text-align:center;
	text-transform:uppercase;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(var(--white-color-rgb), 1);
}

.slider-one_video{
	position:absolute;
	right:0px;
	top: 0%;
}

/* Play Box */

.slider-one .play-box{
	position:relative;
}

.slider-one .play-box:before{
	position:absolute;
	content: '';
	left:-15px;
	top:-62px;
	width: 130px;
	height: 130px;
	background:url(../images/icons/circle.png) no-repeat;
}

.slider-one .play-box:hover .fa{
	color: var(--white-color);
	border-color: var(--black-color);
	background-color: var(--main-color);
}

.slider-one .play-box .fa{
	position:relative;
	width:100px;
	height:100px;
	margin-top:3px;
	font-size:24px;
	line-height:100px;
	border-radius:50px;
	display:inline-block;
	color:var(--white-color);
	text-align:center !important; 
	background-color: rgba(var(--white-color-rgb), 0.15);
}

/* Slider Socials Box */

.slider-one_socials{
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 1;
	padding: 25px 30px;
	border-radius: 0px 50px 50px 0px;
	background-color: rgba(var(--white-color-rgb), 0.15);
}

.slider-one_socials a{
	position: relative;
	font-size: 14px;
	margin: 0px 15px;
	text-transform: capitalize;
	color: var(--white-color);
}

.slider-one_socials a::before{
	position: absolute;
	content: '-';
	right: -20px;
	font-size: 24px;
	color: var(--white-color);
}

.slider-one_socials a:hover{
	color: var(--main-color);
}

.slider-one_socials a:last-child::before{
	display: none;
}

.slider-one_options{
	position:absolute;
	right:45px;
	bottom:25px;
	z-index:10;
	border-radius:150px;
	background-color:var(--white-color);
}

.slider-one_authors{
	position:relative;
	display:flex;
	gap:25px;
	align-items:center;
	border-radius:100px;
	padding:20px 40px 20px 20px;
}

.slider-one_authors ul{
	position:relative;
	display:flex;
	margin-left:20px;
}

.slider-one_authors ul li{
	position:relative;
	width:54px;
	height:54px;
	margin-left:-20px;
	border-radius:50px;
	display:inline-block;
	border:3px solid var(--white-color);
}

.slider-one_reviews{
	position:relative;
	font-weight:800;
	font-size:26px;
	color:var(--black-color);
}

.slider-one_reviews span{
	position:relative;
	font-weight:600;
	font-size:16px;
	margin-top: 5px;
}

/*** 

====================================================================
	Slider Two
====================================================================

***/

.slider-two{
	position:relative;
}

.slider-two .shadow-layer{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	right:0px;
	z-index:1;
	height: 450px;
	background-image: linear-gradient(to top, rgba(255, 255, 255, 0), var(--color-two));
}

.slider-two-arrow{
	position: absolute;
	left:0px;
	bottom:0px;
	right: 0px;
}

.slider-two .main-slider-prev{
	position: relative;
	z-index: 1;
	width: 73px;
	height: 72px;
	font-size: 24px;
	cursor: pointer;
	line-height: 72px;
	text-align: center;
	display: inline-block;
	color: var(--white-color);
	background-color:var(--main-color);
}

.slider-two .main-slider-prev:hover{
	color: var(--main-color);
	background-color: var(--white-color);
}

.slider-two .main-slider-next:hover{
	color: var(--main-color);
	background-color: var(--white-color);
}

.slider-two .main-slider-next::after,
.slider-two .main-slider-prev::after{
	display: none;
}

.slider-two .main-slider-next{
	position: absolute;
	right:0px;
	bottom:0px;
	z-index: 1;
	width: 73px;
	height: 72px;
	font-size: 24px;
	cursor: pointer;
	line-height: 72px;
	text-align: center;
	display: inline-block;
	color: var(--white-color);
	background-color:var(--main-color);
}

.slider-two .swiper-slide{
	position:relative;
	padding:260px 0px 240px;
}

.slider-two_content{
	position:relative;
	z-index:2;
	text-align: center;
}

.slider-two_content-inner{
	position:relative;
	max-width: 100%;
}

.slider-two_image-layer{
	background-size: cover;
}

.slider-two_image-layer:before{
	position:absolute;
	content:'';
	left:73px;
	top:110px;
	right:73px;
	bottom:73px;
	opacity:0.70;
	border:1px solid var(--white-color);
}

.slider-two_image-layer:after{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	opacity:0.70;
	background-color: var(--color-two);
}

.slider-two_title{
	position: relative;
	font-size: 15px;
	opacity:0;
	font-weight: 600;
	padding:10px 30px;
	letter-spacing: 1px;
	border-radius:50px;
	display:inline-block;
	color: var(--white-color);
	text-transform: uppercase;
	background-color: var(--main-color);
	
	transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0 0, 100% 0, 100% 16%, 0 16%);
}

.slider-two .swiper-slide-active .slider-two_title{
	opacity:1;
	-webkit-transition-delay: 500ms;
	-moz-transition-delay: 500ms;
	-ms-transition-delay: 500ms;
	-o-transition-delay: 500ms;
	transition-delay: 500ms;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.slider-two_heading{
	margin-top: 40px;
	letter-spacing: 2px;
	color: var(--white-color);
	text-transform: uppercase;
	
	transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0 0, 100% 0, 100% 16%, 0 16%);
}

.slider-two .swiper-slide-active .slider-two_heading{
	-webkit-transition-delay: 800ms;
	-moz-transition-delay: 800ms;
	-ms-transition-delay: 800ms;
	-o-transition-delay: 800ms;
	transition-delay: 800ms;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.slider-two_text{
	font-weight:400;
	font-size:18px;
	line-height:34px;
	max-width: 600px;
	margin:0 auto;
	margin-top:30px;
	margin-bottom:35px;
	color: var(--white-color);
	text-transform: capitalize;
	
	transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0 0, 100% 0, 100% 16%, 0 16%);
}

.slider-two .swiper-slide-active .slider-two_text{
	-webkit-transition-delay: 1200ms;
	-moz-transition-delay: 1200ms;
	-ms-transition-delay: 1200ms;
	-o-transition-delay: 1200ms;
	transition-delay: 1200ms;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.slider-two .slider-two_button{
	position: relative;
	opacity:0;
	display:inline-block;
	transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0 0, 100% 0, 100% 16%, 0 16%);
}

.slider-two .swiper-slide-active .slider-two_button{
	opacity:1;
	-webkit-transition-delay: 1600ms;
	-moz-transition-delay: 1600ms;
	-ms-transition-delay: 1600ms;
	-o-transition-delay: 1600ms;
	transition-delay: 1600ms;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/*** 

====================================================================
	Slider Three
====================================================================

***/

.slider-three{
	position:relative;
}

.slider-three-arrow{
	position: absolute;
	left:0px;
	bottom:0px;
	right: 0px;
}

.slider-three .main-slider-prev{
	position: relative;
	z-index: 1;
	width: 73px;
	height: 72px;
	font-size: 24px;
	cursor: pointer;
	line-height: 72px;
	text-align: center;
	display: inline-block;
	color: var(--white-color);
	background-color:var(--main-color);
}

.slider-three .main-slider-prev:hover{
	color: var(--main-color);
	background-color: var(--white-color);
}

.slider-three .main-slider-next:hover{
	color: var(--main-color);
	background-color: var(--white-color);
}

.slider-three .main-slider-next::after,
.slider-three .main-slider-prev::after{
	display: none;
}

.slider-three .main-slider-next{
	position: relative;
	z-index: 1;
	width: 73px;
	height: 72px;
	font-size: 24px;
	cursor: pointer;
	line-height: 72px;
	text-align: center;
	display: inline-block;
	color: var(--white-color);
	background-color:var(--main-color);
}

.slider-three .swiper-slide{
	position:relative;
	padding:280px 0px 200px;
}

.slider-three_content{
	position:relative;
	z-index:2;
	margin:0 auto;
	max-width: 740px;
	text-align: right;
}

.slider-three_content:before{
	position:absolute;
	content:'';
	right:-100px;
	top:-50px;
	bottom:-60px;
	width: 250px;
	border:10px solid rgba(var(--white-color-rgb), 0.20);
}

.slider-three_content-inner{
	position:relative;
	max-width: 100%;
}

.slider-three_image-layer{
	background-size: cover;
}

.slider-three_image-layer:before{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	opacity:0.70;
	background-color: var(--color-two);
}

.slider-three_title{
	position: absolute;
	right:0px;
	bottom:0px;
	opacity:0;
	font-size: 34px;
	font-weight: 500;
	line-height:1em;
	display:inline-block;
	color: var(--white-color);
	text-transform: capitalize;
	transform: rotate(90deg);
	transform-origin: 112% 0%;
	font-family: "Barlow Condensed", sans-serif;
	transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0 0, 100% 0, 100% 16%, 0 16%);
}

.slider-three .swiper-slide-active .slider-three_title{
	opacity:1;
	-webkit-transition-delay: 500ms;
	-moz-transition-delay: 500ms;
	-ms-transition-delay: 500ms;
	-o-transition-delay: 500ms;
	transition-delay: 500ms;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.slider-three_heading{
	font-size: 195px;
	line-height:180px;
	letter-spacing: 2px;
	color: var(--white-color);
	text-transform: uppercase;
	
	transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0 0, 100% 0, 100% 16%, 0 16%);
}

.slider-three_heading span{
	color: var(--main-color);
}

.slider-three .swiper-slide-active .slider-three_heading{
	-webkit-transition-delay: 800ms;
	-moz-transition-delay: 800ms;
	-ms-transition-delay: 800ms;
	-o-transition-delay: 800ms;
	transition-delay: 800ms;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.slider-three_text{
	font-weight:400;
	font-size:18px;
	line-height:34px;
	margin-top:30px;
	margin-bottom:35px;
	color: var(--white-color);
	text-transform: capitalize;
	
	transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0 0, 100% 0, 100% 16%, 0 16%);
}

.slider-three .swiper-slide-active .slider-three_text{
	-webkit-transition-delay: 1200ms;
	-moz-transition-delay: 1200ms;
	-ms-transition-delay: 1200ms;
	-o-transition-delay: 1200ms;
	transition-delay: 1200ms;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.slider-three .slider-three_button{
	position: relative;
	opacity:0;
	display:inline-block;
	transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0 0, 100% 0, 100% 16%, 0 16%);
}

.slider-three .swiper-slide-active .slider-three_button{
	opacity:1;
	-webkit-transition-delay: 1600ms;
	-moz-transition-delay: 1600ms;
	-ms-transition-delay: 1600ms;
	-o-transition-delay: 1600ms;
	transition-delay: 1600ms;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.slider-three .mouse-btn-down{
	position:absolute;
	left:50%;
	margin-left:-20px;
	bottom:20px;
	width:30px;
	height:68px;
	cursor:pointer;
	display:block;
	z-index:20;
	cursor:pointer;
}

.slider-three .mouse-btn-down {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

.slider-three .mouse-btn-down {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

/* Chevron */

.chevron {
	position: absolute;
	width: 35px;
	height: 8px;
	opacity: 0;
	transform: scale3d(0.5, 0.5, 0.5);
	animation: move 3s ease-out infinite;
}

.chevron:first-child {
	animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
	animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
	position: absolute;
	content: '';
	top: 0;
	width: 51%;
	height: 100%;
	background: var(--white-color);
}

.chevron:before {
	left: 0;
	transform: skew(0deg, 30deg);
}

.chevron:after {
	right: 0;
	width: 50%;
	transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}